<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings >
    
      <add
           name="con_local"
           connectionString="Server=98.142.100.66;Database=kallarkahartownship_com_kallarkahar;User ID=kallarkahartownship_com_kallarkahar;Password=j!14tiamuf6cAKNi;Trusted_Connection=False;"
           providerName="System.Data.SqlClient"/>
    

    <add name="conStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\DotNet-Working\BD\PMS3\App_Data\PMS.mdf;Integrated Security=True;Connect Timeout=30" 
         providerName="System.Data.SqlClient" />

  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>
